[Unit]
Description=ipsetd
Wants=network.target
After=network.target ipset.service

[Service]
ExecStart=/usr/bin/ipsetd
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
